
@model  List<DataAccess.DTO.BookDTO>


    
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {

        <li class="list-group-item">
            <!-- Single Product -->
            <div class="row">

                <div class="col-md-6 col-lg-3 col-xl-3">
                    <div>
                        <img href="https://imgbb.com/" src="@item.BookImage" alt="Generic placeholder image" width="300" class="ml-lg-2 order-1 order-lg-2">
                    </div>

                </div>
                <div class="col-md-7 col-lg-4 col-xl-3">
                    <div class="single-product">

                        <div class="part-2">
                            <h3>@item.BookName</h3>
                            <h4>@item.Cost VND</h4>
                            <h4>@item.CategoryName</h4>
                            <h4>@item.Quantity</h4>
                            <h4>
                                <a class="btn btn-primary"
                                   href="/Book/BookDetail?BookID=@item.BookID"
                                   role="button">
                                     Detail
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }

}

