
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>BookDetail</h2>


@model DataAccess.DTO.BookDTO


<div class="card-columns">

    <div class=card>
        <h3 class="card-header">@Model.BookName</h3>
        <div class="card-body" style="height: 200px;">
            <img href="https://imgbb.com/" src="@Model.BookImageURL" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
        </div>
        <div class="card-footer">
            <span class="text-muted">Title: @(Model.BookName) </span><br />
            <span class="text-muted">Cost: @(Model.Cost) VND</span><br />
            <span class="text-muted">Category: @(Model.CategoryName) </span><br />
            <span class="text-muted">Quantity@(Model.Quantity) </span><br />
            <span class="text-muted">Seller: @(Model.SellerName) </span><br />
            <br />

            <a id="btn_addBookToInvent"  class="btn btn-primary"
               role="button">
                Order
            </a>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btn_addBookToInvent").click(function () {

       
            var data = {
                BookID: @Model.BookID
            };

            $.ajax({
                type: "GET", // GET / POST / DELETE
                cache: false,
                url: "/UserInvent/AddBookToUserInvent",
                data: data,    
                success: function (data) {
                    var res = data.ResponseCode;
                    var des = data.Description;
                    alert(des);

                    setTimeout(function () {
                        window.location.href = "/UserInvent/Index";
                    }, 1000);

                }
            });


        });

        
    });

</script>