
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BookDetail</h2>


@model DataAccess.DTO.BookDTO


<div class="card-columns">

    <div class=card>
        <h3 class="card-header">@Model.BookName</h3>
        <div class="card-body" style="height: 200px;">
            <img href="https://imgbb.com/" src="@Model.BookImageURL" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
        </div>
        <div class="card-footer">
            <p class="card-text">Cost: @Model.Cost $</p>
            <p class="card-text">Category: @Model.CategoryName</p>
            <p class="card-text">Pages: @Model.Pages</p>
            <p class="card-text">ISBN: @Model.BookISBN</p>
            <p class="card-text">Author: @Model.Author</p>
            <p class="card-text">Description: @Model.Description</p>
            <br />

            <a id="btn_addBookToInvent" class="btn btn-primary"
               role="button">
                Order
            </a>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btn_addBookToInvent").click(function () {

       
            var data = {
                BookID: @Model.BookID
            };

            $.ajax({
                type: "GET", // GET / POST / DELETE
                cache: false,
                url: "/UserInvent/AddBookToUserInvent",
                data: data,    
                success: function (data) {
                    var res = data.ResponseCode;
                    var des = data.Description;
                    alert(des);

                    setTimeout(function () {
                        window.location.href = "/UserInvent/UserInventPartialView";
                    }, 1000);

                }
            });


        });

        
    });

</script>