
@{
    ViewBag.Title = "Book Library";
}

@model List<DataAccess.DTO.BookDTO>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Cost</th>
            <th>Quantity</th>
            <th>Category</th>


        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookName</td>
                    <td>@item.Cost</td>
                    <td>@item.Quantity</td>

                    <td>@item.CategoryName</td>
                    <td>
                        <a href="/Category/CategoryUpdate?CategoryId=@item.CategoryID"><i class="fa fa-eye">Update</i>  </a>

                    </td>
                    <td>
                        <a onclick="CategoryDelete('@item.CategoryID')"><i class="fa fa-trash">Delete</i> </a>
                    </td>
                    <td>
                        <a href="/Category/CategoryDetail?CategoryId=@item.CategoryID"><i class="fa fa-eye">Detail</i>  </a>
                    </td>

                </tr>
            }
        }



    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>




<script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);
        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });
    }
</script>