
@model List<DataAccess.DTO.BookDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Welcome to </h2>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="list-group-item row" style="width: 80rem;">

            <div class="card col-lg-6" >

                <div class="card-body">
                    <img src="@item.BookImageURL">

                    <div>
                        <div>

                            <h5 class="card-title"><b>Title:</b> @item.BookName</h5>
                            @*<p class="card-text">Cost: @Model[j].Cost $</p>
                                <p class="card-text">Category: @Model[j].CategoryName</p>
                                <p class="card-text">Pages: @Model[j].Pages</p>
                                <p class="card-text">ISBN: @Model[j].BookISBN</p>
                                <p class="card-text">Author: @Model[j].Author</p>*@
                            <p class="card-text"><b>Description:</b> @item.Description</p>
                        </div>

                        <a class="btn btn-primary"
                           href="#  "
                           role="button">
                            Read
                        </a>
                    </div>


                </div>
            </div>



        </div>
    }
}

